---
import "./Hero.scss";
---

<div id="home" class="full-page">
  
  <div class="hero-section m-container">
    <p class="green">Hi, my name is</p>
    <h1>Shubham Lad.</h1>
    <h1 class="disc">I'm a Web Developer and Software Engineer.</h1>
    <p class="description">
      Hey I am a self taught developer having good knowledgr of Full Stack Web
      Development and Data Structure. And I love to read books 😍.
    </p>
    <a href="#contact-anchor" class="btn btn-default btn-lg">Download Resume</a>
  </div>
  <div class="circle"></div>
</div>
