@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;500&display=swap");

:root {
  --background-color: #0a192f;
  --text-color: #8892b0;
  --secondary-text-color: #889293;
  --nav-text-color: #ccd6f6;
  --green-color: #64ffda;
  --heading-color: #e6f1ff;
  --sub-heading-color: #8892b0;
  --card-background-color: #172a45;
  --footer-background-color: #020c1b;
  --font-size: 16px;
  --font-bold: 500;
  --font-regular: 100;
  --font-medium: 300;
  --slider-bg: #dddddd;
  --slider-bg-before: #fff;
  --slider-input-bg: #8758ff;
  --btn-hover-color: rgba(100, 255, 218, 0.07);
  --lightest-navy: #233554;
}

[data-theme="light"] {
  --background-color: #f2f2f2;
  --heading-color: #14b8a6;
  --sub-heading-color: #111827;
  --green-color: #14b8a6;
  --text-color: #334155;
  --secondary-text-color: #334155;
  --nav-text-color: #6b7280;
  --slider-bg: #dddddd;
  --slider-bg-before: #fff;
  --slider-input-bg: #8758ff;
  --header-background-color: rgba(242, 242, 242, 0.7);
  --header-shadow-color: #dcdbdb;
  --card-background-color: var(--background-color);
}

[data-theme="dark"] {
  --background-color: #0a192f;
  --heading-color: #e6f1ff;
  --selection-color: #ccd6f6;
  --selection-bg-color: #233554;
  --header-background-color: rgba(10, 25, 47, 0.7);
  --header-shadow-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--font-size);
  font-weight: var(--font-regular);
  font-family: "Roboto Mono";
}

a {
  text-decoration: none;
  color: var(--green-color);
}

::selection {
  background-color: var(--selection-bg-color);
  color: var(--selection-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.green {
  color: var(--green-color);
}

.full-page {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.m-container {
  margin: 0 10%;
}

.section {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

.numbered-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, 32px);
  white-space: nowrap;
  color: var(--heading-color);
}

.numbered-heading::before {
  position: relative;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: var(--green-color);
  bottom: -4px;
  /* font-family: var(--font-mono); */
  font-size: clamp(16px, 3vw, 20px);
  font-weight: 400;
}

.numbered-heading::after {
  content: "";
  display: block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}

@media (max-width: 540px) {
  .m-container {
    margin: 0 8%;
  }
}