<div class="section m-container">
  <h2 class="numbered-heading">About Me</h2>
  <div class="row">
    <div class="col-sm-6 abt-clm aboutme">
      <p>
        Hey! What's up. I am Shubham Lad a mechanical engineer by degree and
        Programmer by passion. I completed my Mechanical Engineering. Although
        my branch is mechanical I am deeply passionate about Programming 😍️.
        This passion leads me to become a Self-taught Programmer.
      </p>
      <br />
      <p>
        I develope Highly Scalable REST APIs in NodeJS with security
        consideration. At this time I am working with technologies like Express,
        React, MongoDB. I am also worked with deployments of projects using
        Docker, Jenkins, Nginx. I am highly skilled in web development and I am
        also good in Data Structure and Algorithms.
      </p>
      <br />
      <p>
        I learned everything from community so working with a team is the best
        qulity in me. The best thing about learning from community is you get
        lots of good knowledge and also you feel like you need to give back to
        community and that's why I started a youtube channel
        <a href="https://www.youtube.com/channel/UC0dmBOtjUAPtYLzLvtegXoQ"
          >AwfulCodeLab</a
        >
        to contribute to community also I started a blog
        <a href="https://awfulcodelab.co">awfulcodelab.co</a> where I write posts
        mostly related to Data Structures & Web Development.
      </p>
    </div>
    <div class="col-sm-6">
      <img
        src="/images/shubham_lad.jpg"
        alt="Shubham Lad"
        class="profile-img"
        id="profile-img"
      />
    </div>
  </div>
</div>

<style>
  

  .aboutme {
    margin: 0px 0px 15px;
    line-height: 1.5;
    /* font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system,
      system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial,
      sans-serif; */
    font-weight: 200;
    font-size: 18px;
    text-align: justify;
  }

  #profile-img {
    width: 80%;
    max-width: 320px;
    margin: auto;
    display: block;
    animation: scaledown 0.4s linear;
    box-shadow: 20px 20px 0 0px #0a192f, 20px 20px 0 1px #64ffda;
    animation-fill-mode: forwards;
  }

  img {
    /* filter: invert(82%) sepia(36%) saturate(586%) hue-rotate(104deg) brightness(101%) contrast(101%); */

    /* filter: invert(70%) sepia(39%) saturate(6940%) hue-rotate(134deg) brightness(97%) contrast(84%); */
  }
</style>
