header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  transition: 0.6s;

  .logo {
    cursor: pointer;
  }

  nav {
    ul {
      display: flex;
      margin: 0;

      li {
        position: relative;
        list-style: none;

        a {
          position: relative;
          margin: 0 15px;
          text-decoration: none;
          font-weight: var(--font-bold);
          color: var(--nav-text-color);
          transition: 0.6s;
        }
      }
    }
  }
}

header.sticky {
  background: var(--header-background-color);
  box-shadow: 0px 1px 10px var(--header-shadow-color);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}
