---
import Toggle from "../Toggle/Toggle.astro";
import "./Navbar.scss";
---

<header>
  <img class="logo" src="images/logo.svg" alt="Shubham Lad" />
  <nav>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Notes</a></li>
      <li><a href="#" class="green">Resume</a></li>
      <!-- <li class="theme-toggle"><button>Toggle</button></li> -->
    </ul>
  </nav>
  <Toggle />
  <div id="menu-items">Menu</div>
</header>

<script>
    window.onscroll = () => {
        let nav = document.querySelector('header');
        if(window.pageYOffset > 50) {
            nav.classList.add('sticky');
        } else {
            nav.classList.remove('sticky');
        }
    }

    let menu = document.querySelector('#menu-items');
    let navbar = document.querySelector('nav');

    menu.onclick = () => {
      navbar.classList.toggle('open');
    }
</script>
